<div class="container">
  <div class="left-pane">
    <h3>Elements</h3>
    <div
      *ngFor="let element of elements"
      class="draggable-item"
      [ngClass]="{
        'button-style': element.type === 'button',
        'label-style': element.type === 'label'
      }"
      draggable="true"
      (dragstart)="onDragStart($event, element)"
    >
      {{ element.label }}
    </div>
    <div class="save-button-container">
      <button class="save-button" (click)="saveCanvas()">Save</button>
    </div>
  </div>

  <div
    class="drop-zone"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <ng-container *ngFor="let droppedElement of droppedElements; let i = index">
      <div
        *ngIf="droppedElement"
        class="dropped-item"
        [ngStyle]="{
          'left.px': droppedElement?.x,
          'top.px': droppedElement?.y,
          'width.px': droppedElement?.width,
          'height.px': droppedElement?.height,
          'font-size.px': droppedElement?.fontSize,
          color: droppedElement?.fontColor,
          'font-weight': droppedElement?.bold ? 'bold' : 'normal',
          'border-radius.px': droppedElement?.borderRadius,
          'background-color':
            droppedElement?.backgroundColor ||
            droppedElement?.buttonColor ||
            'transparent'
        }"
        [ngClass]="{
          'button-style': droppedElement?.type === 'button',
          'label-style': droppedElement?.type === 'label'
        }"
        draggable="true"
        (dragstart)="onCanvasDragStart($event, i)"
        (dragend)="onCanvasDragEnd($event)"
        (dblclick)="enableEditing(i)"
      >
        <ng-container
          *ngIf="droppedElement?.type === 'label'; else buttonTemplate"
        >
          <input
            *ngIf="droppedElement?.isEditing"
            type="text"
            [value]="droppedElement?.text"
            (blur)="disableEditing(i, $event)"
            (keydown.enter)="disableEditing(i, $event)"
          />
          <span *ngIf="!droppedElement?.isEditing">{{
            droppedElement?.text
          }}</span>
        </ng-container>
        <ng-template #buttonTemplate>
          {{ droppedElement?.buttonText || droppedElement?.label }}
        </ng-template>
      </div>
    </ng-container>
  </div>

  <div class="right-pane">
    <h3>Element Properties</h3>
    <div
      *ngFor="let element of droppedElements; let i = index"
      style="
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      "
    >
      <h4>Element {{ i + 1 }}</h4>
      <ul>
        <li>
          <label>Type: {{ element?.type }}</label>
        </li>
        <li>
          <label>X:</label>
          <input
            type="number"
            [value]="element?.x | number : '1.2-2'"
            (change)="updateProperty(i, 'x', $event)"
          />
        </li>
        <li>
          <label>Y:</label>
          <input
            type="number"
            [value]="element?.y | number : '1.2-2'"
            (change)="updateProperty(i, 'y', $event)"
          />
        </li>
        <li>
          <label>Width:</label>
          <input
            type="number"
            [value]="element?.width"
            (change)="updateProperty(i, 'width', $event)"
          />
        </li>
        <li>
          <label>Height:</label>
          <input
            type="number"
            [value]="element?.height"
            (change)="updateProperty(i, 'height', $event)"
          />
        </li>
        <li>
          <label>Leading (from Left):</label>
          <input
          type="number"
          [value]="element?.x | number : '1.2-2'"
          (change)="updateProperty(i, 'x', $event)"
        />        </li>
        <li>
          <label>Trailing (from Right):</label>
          <input
          type="number"
          [value]="getTrailing(element)"
          (change)="updateTrailing(i, $event)"
        />
        </li>
        <li>
          <label>Top :</label>
          <input
          type="number"
          [value]="element?.y | number : '1.2-2'"
          (change)="updateProperty(i, 'y', $event)"
        />        </li>
        <li>
          <label>Bottom :</label>
          <input
          type="number"
          [value]="getBottom(element)"
          (change)="updateBottom(i, $event)"
        />
        </li>
        <li *ngIf="element?.type === 'button'">
          <label>Button Text:</label>
          <input
            type="text"
            [value]="element?.buttonText"
            (change)="updateProperty(i, 'buttonText', $event)"
          />
        </li>
        <li>
          <label>Font Size:</label>
          <input
            type="number"
            [value]="element?.fontSize"
            (change)="updateProperty(i, 'fontSize', $event)"
          />
        </li>
        <li>
          <label>Text Color:</label>
          <input
            type="color"
            [value]="element?.fontColor"
            (change)="updateProperty(i, 'fontColor', $event)"
          />
        </li>
        <li>
          <label>Bold:</label>
          <input
            type="checkbox"
            [checked]="element?.bold"
            (change)="updateProperty(i, 'bold', $event)"
          />
        </li>
        <li *ngIf="element?.type === 'button'">
          <label>Button Color:</label>
          <input
            type="color"
            [value]="element?.buttonColor"
            (change)="updateProperty(i, 'buttonColor', $event)"
            *ngIf="element?.type === 'button'"
          />
        </li>
        <li *ngIf="element?.type === 'label'">
          <label>Background Color:</label>
          <input
            type="color"
            [value]="element?.backgroundColor"
            (change)="updateProperty(i, 'backgroundColor', $event)"
          />
        </li>
        <li>
          <label>Corner Radius:</label>
          <input
            type="number"
            [value]="element?.borderRadius"
            (change)="updateProperty(i, 'borderRadius', $event)"
          />
        </li>
      </ul>
      <button class="delete-button" (click)="deleteElement(i)">
        Delete 🗑️
      </button>
    </div>
  </div>
</div>
